<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <!-- JS file -->
    <!-- (!) the src here will be as a GET request to the API -->
    <!-- <script src="/assets/js/UI.js" ></script> -->

    <!-- Css fiels -->
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/global-rules.css">
    <link rel="stylesheet" href="./assets/css/tables-page.css">
</head>
<body>
    <div class="container">
        <div class="tables">
            <div class="cars">
                <h3>Cars</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus explicabo corrupti beatae vel obcaecati.</p>
            </div>
            
            <div class="workers">
                <h3>Workers</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus explicabo corrupti beatae vel obcaecati.</p>
            </div>
    
            <div class="repairs">
                <h3>Repairs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus explicabo corrupti beatae vel obcaecati.</p>
            </div>
    
            <div class="users">
                <h3>Users</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus explicabo corrupti beatae vel obcaecati.</p>
            </div>
    
            <div class="branches">
                <h3>Branches</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus explicabo corrupti beatae vel obcaecati.</p>
            </div>
        </div>  <!-- tables -->
    </div> <!-- container -->

    <script src="./assets/js/tables-page.js"></script>
</body>
</html>