.container {
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;    
}

.head div {
    width: 100px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.head div i {
    font-size: 20px;
}

h1 {
    margin: 40px 100px 40px;
}

h5.error {
    margin: 40px 100px 40px;
    transition: 0.5s;
    color: var(--red, red);
}

.data-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    /* font-family: sans-serif; */
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table tr.selected {
    background-color: #0b131a63;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    text-align: center;
}

.data-table td {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.data-table td.expanded {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    max-width: initial;
    /* this will break the line to multiple. remeber to remove the max-width property */
    /* word-wrap: break-word; */
}


.panel {
    position: fixed;
    bottom: 40px;
    right: 60px;
}

