body {
    background-color: var(white);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
}

h1 {
    color: var(--black);
    text-align: center;
    flex: 0 0 30%;
    width: 600px;
    position: relative;
}


h1::after {
    content: '';
    background-color: var(--red);
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: red;
    width: 400px;
    height: 3px;
    z-index: -1;
}


h5.error {
    margin: 40px 100px 40px;
    transition: 0.5s;
    color: var(--red, red);
}


.login-form {
    /* position: absolute; */
}

.login-form div {
    margin-bottom: 40px;
    margin-top: 60px;
}

.login-form div p  {
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}

.login-form div input {
    background-color: #9BA5C9;
    opacity: 0.5;

    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 20px;
    transition: 0.3s;
}

.login-form div input:focus,
.login-form div input:hover {
    box-shadow: 5px 5px 8px rgba(250, 71, 83, 0.4);
}

