<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers - Insert</title>
    <!-- CSS fiels -->
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/global-rules.css">

    <link rel="stylesheet" href="./assets/css/insert.css">
</head>
<body>
    <div class="container">
        <h1 class="title" ></h1>
        <h5 class="error" style="color: var(--red);"></h5>

        <div class="inputs-container" >
            <div>
                <p class="f_name" >first name</p>
                <input class="btn" type="text" name="f_name" />
            </div>

            <div>
                <p class="l_name" >last name</p>
                <input class="btn" type="text" name="l_name" />
            </div>

            <div>
                <p class="birthdate" >birthdate</p>
                <input class="btn" type="text" name="birthdate" />
            </div>

            <div>
                <p class="hiredate" >hiredate</p>
                <input class="btn" type="text" name="hiredate" />
            </div>

            <div>
                <p class="role" >role</p>
                <input class="btn" type="text" name="role" />
            </div>

            <div>
                <p class="salary" >salary</p>
                <input class="btn" type="text" name="salary" />
            </div>

            <div>
                <p class="phone" >phone</p>
                <input class="btn" type="text" name="phone" />
            </div>

            <div>
                <p class="branch" >branch</p>
                <input class="btn" type="text" name="branch" />
                <div class="branchesMenu menu"></div>
            </div>
        </div>  <!-- inputs-container -->
        
        <button class="btn" >Insert</button>
    </div>

    
    <script>
        var tableName = localStorage.getItem("tableName");
        document.querySelector(".title").innerText = tableName;
        
        window.onload = async () => {
            // getting the keys
            let keys = [];
            let pTags = document.querySelectorAll(".inputs-container div p");
            pTags.forEach(tag => {
                keys.push(tag.className);
            });
            
            // adding the functionality to the Insert button
            var button = document.querySelector("button.btn");
            button.onclick= async () => {
                let values = [];
                // getting the values from the input fields
                let inputFields = document.querySelectorAll(".inputs-container input");
                inputFields.forEach(input => {
                    // for the inputs which must be an array of strings when they be sent (false means there aren't any)
                    if (input.name == "phone") {
                        let arr = input.value.split(",");
                        arr = arr.map(value => {return value.trim()});
                        values.push(arr);
                        return;
                    }
                    else if (input.value.includes(",")) {
                       throw Error(`The ${input.name} are not allowed to be an array. Remove the comma`); 
                    }
                    values.push(input.value);
                });

                // making an object from the two arrays, keys and values
                var result = keys.reduce((obj, key, index) => {
                    obj[key] = values[index];
                    return obj;
                }, {});
                
                console.log(result);
                try {
                    let e = await UI.fetchData(`/api/${tableName}`, "POST", localStorage.getItem("token") , result);
                    await UI.redirect(`/${tableName}`);
                }
                catch(ex) {
                    h5Error(ex.message);
                }
            };


            // adding dropdown menu to branches field
            function addBranchId(value) {
                document.querySelector("div p.branch + input").value = value;
            }
            UI.createDropMenu("/api/branches", ".branchesMenu", "div p.branch + input", "name", "_id", addBranchId); 


        };  // window.onload
    </script>

    <script>
        function h5Error(message, mode = "error") {
            let error = document.querySelector(".error");
            error.innerText = message;
            if (mode == "warning")
            error.style.color = "#edae00";
        }
    </script>
</body>
</html>